@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.header {
    width: 100%;
    padding: 0 .5em;
    /* height: 60px; */
    /* background: darkgoldenrod; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height:10dvh;
    position: sticky;
    top: 0;
}
body {
    width: 100vw;
    height: 100dvh;
    background: linear-gradient(to top, #37153d, #803f8c);
}
.header_logo {
    /* background: red; */
    display: flex;
    align-items: center;
    gap: 5px;
}
.logo_icono i {
    font-size: 2em;
    color: var(--color-primary);
}
.logo_titulo {
    /* background: orange; */
    color: var(--color-ternario);
    text-transform: uppercase;
}

.header_menu i{
    font-size: 3em;
    color: var(--color-primary);
}


.main {
    width: 100%;
    display: grid;
    padding: 0 .8em;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: 
    "investing"
    "banner"
    "banner"
    "cards"
    "colection"
    "colection"
    "colection"
    "colection"
    "colection"
    ;
    grid-gap: 10px;
}

.main_title1,
.main_title2 {
    /* background: red; */
    grid-area: investing;
    margin-top: 1em;
    font-size: 1.5em;
    text-transform: capitalize;
    color: var(--color-ternario);

}
.main_banner {
    /* background: orange; */
    height: 160px;
    grid-area: banner;
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner_public {
    /* background: red; */
    display: grid;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.705);
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "logo description"
    ;
}
.public_logo {
    /* background: blue; */
    border-top-right-radius: 100px;
    border-bottom-right-radius: 1000px;
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.public_logo img {
    /* height: 160px; */
    width: 100%;
    padding: 10px;
}

.public_description {
    /* background: violet; */
    grid-area: description;
    text-align: center;
}
.public_description p {
    font-size: 1.2em;
    color: var(--color-ternario);
    margin-top: 20px;
}
.public_description small {
    display: block;
    font-size: 1em;
    color: var(--color-ternario);
}
.public_description button {
    border: none;
    padding: 8px 20px;
    font-size: 1em;
    border-radius: 50px;
    background: var(--color-primary);
    text-transform: capitalize;
    margin-top: 8px;
    color: var(--color-ternario);
    font-weight: bolder;
}

.description_close {
    width: 100%;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}

.description_close i {
    /* background: red; */
    border-radius: 100%;
    padding: 5px;
    background: var(--color-primary);
    color: var(--color-ternario);
    font-weight: bolder;
    transition: 1.5s;
}
.description_close i:hover {
    scale: 2;
    box-shadow: 0 0 15px var(--color-ternario);
}
.main_title2 {
    grid-area: cards;
}
.main_cards {
    /* background: green; */
    grid-area: colection;
    display: flex;
    gap: 10px;
    /* padding: 10px 0; */
    flex-direction: row;
    height: 320px;
    overflow-x: scroll;
}
.cards_item {
    flex: 1;
    min-width: 200px;
    background: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 15px;
}
.cards_item h2 {
    color: var(--color-ternario);
    text-shadow: 0 0 10px var(--color-ternario);
}
.cards_item small {
    text-shadow: 0 0 10px var(--color-ternario);
    position: absolute;
    top: 30px;
    right: 6vw;
    color: var(--color-ternario);
}

.cards_item i {
    font-size: 5em;
    position: absolute;
    bottom: 0;
    left: 5vw;
    color: var(--color-ternario);
    text-shadow: 0 0 10px var(--color-ternario);
}

.footer {
    width: 100%;
    background: var(--color-primary);
    position: fixed;
    bottom: 0;
    height: 40px;
}
.footer ul {
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

.footer ul li {
    list-style: none;
    margin: .5em 0;
}
.footer ul li a i {
    font-size: 1.5em;
    color: var(--color-back);
}

@media (height <= 629px) {
    body {
        height: max-content;
    }
}