@import url(variables.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF-Pro-Text-Regular";
}

.body_1 {
    background: var(--color-primary);
    position: relative;
    width: 100vw;
    height: 100vh;
}
.banner {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
}
.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header {
    width: 100%;
    padding: 0 .5em;
    /* height: 60px; */
    /* background: darkgoldenrod; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height:10vh;
    position: sticky;
    top: 0;
}
.header_logo {
    /* background: red; */
    display: flex;
    align-items: center;
    gap: 5px;
}
.logo_icono img {
    width: 3em;
}
.logo_titulo {
    /* background: orange; */
    color: var(--color-ternario);
    font-family: "SF-Pro-Text-Bold";
    text-transform: uppercase;
}

.header_menu i{
    font-size: 3em;
    color: var(--color-ternario);
}
.main {
    position: relative;
    height: 84vh;
}
.main_titulo {
    height: 40%;
}
.titulo_card {
    /* background: green; */
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: center;
    padding: 0 0.5em;
}
.titulo_card h2,
.titulo_card p {
    font-size: 2em;
    color: var(--color-ternario);
    text-transform: capitalize;
}

.titulo_card h2 {
    font-family: "SF-Pro-Text-Heavy";
}
.titulo_card p {
    font-family: "SF-Pro-Text-Light";
    text-transform: capitalize;
}
.titulo_balance {
    /* background: fuchsia; */
    color: var(--color-ternario);
    display: flex;
    height: 130px;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5em;
}
.balance_one,
.balance_two {
    display: flex;
    flex-direction: column;
    padding: 0 .5em;
}
.balance_one small,
.balance_two small {
    font-size: 1em;
    text-transform: uppercase;
    font-family: "SF-Pro-Text-Medium";
}

.balance_one label,
.balance_two label {
    font-size: 1.3em;
    font-family: "SF-Pro-Text-Bold";
}
.balance_one progress[value] {
    --color: var(--color-secundary);
    --background: var(--color-ternario);
    background: var(--background);
}

.balance_two progress[value] {
    --color: var(--color-cuarto);
    --background: var(--color-ternario);
    background: var(--background);
}

progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    height: .5em;
    width: 30vw;
    border-radius: 10em;
}

.balance_one progress[value]::-webkit-progress-bar,
.balance_two progress[value]::-webkit-progress-bar {
    border-radius: 10em;
    height: .5em;
    background: var(--background);
}

progress[value]::-webkit-progress-value {
    border-radius: 10em;
    background: var(--color);
}

progress[value]::-moz-progress-bar {
    border-radius: 10em;
    background: var(--color);
}
.actividades {
    overflow: scroll;
    width: 100%;
    background: var(--color-ternario);
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    padding: 30px 20px 10px 20px;
    height: 63%;
}
.actividades h4 {
    padding-bottom: 10px;
    color: var(--color-primary);
    font-family: "SF-Pro-Text-Bold";
    text-transform: capitalize;
    font-size: 1.3em;
}
.activities {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15%;
}
.acnt,
.prvcy,
.hlp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-ternario) ;
    height: max-content;
    text-align: center;
    color: var(--color-primary);
    text-transform: capitalize;
    font-family: "SF-Pro-Text-Semibold";
    height: 120px;
    width: 100px;
    border-radius: 15px;
    box-shadow: 5px 0 30px rgba(182, 179, 179, 0.418);
    margin: 0 5px;
    font-size: 1.3em;
}
.acnt img,
.prvcy img,
.hlp img {
    padding-bottom: 5px;
    width: 40px;
}

.transactions {
    overflow: auto;
    height: 40%;
}

.alza {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.alz-izq-logo {
    display: flex;
}
.alz-izq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2vw;
}

.alz-izq h5,
.alz-der h5,
.bja-izq h5,
.bja-der h5{
    color: var(--color-primary);
    font-family: "SF-Pro-Text-Bold";
    text-transform: capitalize;
    font-size: 1.2em;
}

.bja-izq small,
.bja-der small,
.alz-izq small,
.alz-der small {
    color: var(--color-cuarto);
    text-transform: capitalize;
    font-family: "SF-Pro-Text-Medium";
    font-size: .8em;
    margin-top: .5vh;
}

.baja {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}
.bja-izq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2vw;
}
.bja-izq-logo {
    display: flex;
}

.alz-izq-logo img,
.bja-izq-logo img {
    width: 50px;
}






.footer {
    width: 100%;
    background: var(--color-primary);
    position: fixed;
    bottom: 0;
    height: 6vh;
}
.footer ul {
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

.footer ul li {
    list-style: none;
    margin: .5em 0;
}
.footer ul li a img {
    width: 1.5em;
}

/* Balances page css part */

.body_2 {
    background: gray;
}

