<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/balance.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body class="body_2">
    <div class="bck-crcl">
        <div class="crcl-img" style="background: url(../storage/img/mast.svg);
        background-repeat: no-repeat; background-size:cover; background-position: bottom;"> </div>
        <div class="grn-crcl">
             <h2>total balance</h2>
             <h2><sub>$</sub>214,417</h2>
        </div>
    </div>
    <header class="header">
        <div class="header_logo">
            <div class="logo_icono">
                <img src="../storage/img/logo.svg">
            </div>
            <div class="logo_titulo">invento</div>
        </div>
        <div class="header_menu">
            <i class='bx bx-menu'></i>
        </div>
    </header>
    <main class="main_1">
        <div class="opt_blnc">
            <button>assets</button>
            <button>Debt</button>
            <button>Income</button>
        </div>
        <div class="grph_img">
            <img src="../storage/img/graphic.PNG">
        </div>
        <div class="grn-zn">
            <section class="close">
                <img src="../storage/img/close.svg">
            </section>
            <section class="card_txt">
                <div class="card_img">
                    <img src="../storage/img/card.svg">
                </div>
                <article>
                    <h2>spending.</h2>
                    <small>You forgot to add debt card number at payment #1323. Add it now.</small>
                </article>
            </section>
        </div>
    </main>
    <footer class="footer">
        <ul>
            <li>
                <a href="#"><img src="../storage/img/home.svg"></a>
            </li>
            <li>
                <a href="balance.html"><img src="../storage/img/book.svg"></a>
            </li>
            <li>
                <a href="cards.html"><img src="../storage/img/opt.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/bell.svg"></a>
            </li>
            <li>
                <a href="../index.html"><img src="../storage/img/profile.svg" class="prb"></a>
            </li>
        </ul>
    </footer>
</body>
</html>