<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body class="body_2">
    <header class="header">
        <div class="header_logo">
            <div class="logo_icono">
                <img src="../storage/img/logo.svg" alt="" srcset="">
            </div>
            <div class="logo_titulo">invento</div>
        </div>
        <div class="header_menu">
            <i class='bx bx-menu'></i>
        </div>
    </header>
    <main class="main_1">

    </main>
    <footer class="footer">
        <ul>
            <li>
                <a href="#"><img src="../storage/img/home.svg"></a>
            </li>
            <li>
                <a href="balance.html"><img src="../storage/img/book.svg"></a>
            </li>
            <li>
                <a href="cards.html"><img src="../storage/img/opt.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/bell.svg"></a>
            </li>
            <li>
                <a href="../index.html"><img src="../storage/img/profile.svg" class="prb"></a>
            </li>
        </ul>
    </footer>
</body>
</html>