<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/card.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <div class="header_logo">
            <div class="logo_icono">
                <img src="../storage/img/logo2.svg" alt="" srcset="">
            </div>
            <div class="logo_titulo">invento</div>
        </div>
        <div class="header_menu">
            <i class='bx bx-menu'></i>
        </div>
    </header>
    
    
    <main class="main">
        <h3 class="main_title1">investing tips</h3>
        <section class="main_banner">
            <div class="banner_public">
                <div class="public_logo">
                    <img src="../storage/img/pig.svg" alt="">
                </div>
                <div class="public_description">
                    <div class="description_close"><i class='bx bx-x'></i></div>
                    <p>What is an ETF?</p>
                    <small>By james B, PHD</small>
                    <button>learn more</button>
                </div>
            </div>
        </section>
        <h3 class="main_title2">my cards (4)</h3>
        <section class="main_cards">
            <article class="cards_item">
                <small>**** 6175</small>
                <h2><sub>$</sub> 47,417</h2>
                <img src="../storage/img/visa.svg">
            </article>
            <article class="cards_item">
                <small>**** 5789</small>
                <h2><sub>$</sub> 584,466</h2>
                <img src="../storage/img/masterCard.svg">
            </article>
            <article class="cards_item">
                <small>**** 6175</small>
                <h2><sub>$</sub> 47,417</h2>
                <img src="../storage/img/visa.svg">
            </article>
        </section>
    </main>


    <footer class="footer">
        <ul>
            <li>
                <a href="#"><img src="../storage/img/home.svg"></a>
            </li>
            <li>
                <a href="balance.html"><img src="../storage/img/book.svg"></a>
            </li>
            <li>
                <a href="cards.html"><img src="../storage/img/opt.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/bell.svg"></a>
            </li>
            <li>
                <a href="../index.html"><img src="../storage/img/profile.svg"></a>
            </li>
        </ul>
    </footer>
</body>
</html>