<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/card.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header" style="font-weight: bolder;">
        <div class="header_logo">
            <div class="logo_icono">
                <i class='bx bxl-unsplash'></i>
            </div>
            <div class="logo_titulo">Nequi</div>
        </div>
        <div class="header_menu">
            <i class='bx bx-menu'></i>
        </div>
    </header>
    <main class="main">
        <h3 class="main_title1">no sabias?</h3>
        <section class="main_banner">
            <div class="banner_public">
                <div class="public_logo">
                    <img src="../storage/img/pig.svg" alt="">
                </div>
                <div class="public_description">
                    <div class="description_close"><i class='bx bx-x'></i></div>
                    <p>Que es un ETF?</p>
                    <small>Por james B, PHD</small>
                    <button>quiero saber mas</button>
                </div>
            </div>
        </section>
        <h3 class="main_title2">my cards (4)</h3>
        <section class="main_cards">
            <article class="cards_item">
                <small>**** 6175</small>
                <h2><sub>$</sub> 47,417</h2>
                <i class='bx bxl-visa' ></i>
            </article>
            <article class="cards_item">
                <small>**** 5789</small>
                <h2><sub>$</sub> 584,466</h2>
                <i class='bx bxl-mastercard' ></i>
            </article>
            <article class="cards_item">
                <small>**** 6175</small>
                <h2><sub>$</sub> 47,417</h2>
                <i class='bx bxl-visa' ></i>
            </article>
        </section>
    </main>


    <footer class="footer">
        <ul>
            <li>
                <a href="#"><i class='bx bx-home-smile' ></i></a>
            </li>
            <li>
                <a href="balance.html"><i class='bx bx-scan' ></i></a>
            </li>
            <li>
                <a href="cards.html"><i class='bx bx-message-square-dots' ></i></a>
            </li>
            <li>
                <a href="#"><i class='bx bx-bell' ></i></a>
            </li>
            <li>
                <a href="../index.html"><i class='bx bx-user' ></i></a>
            </li>
        </ul>
    </footer>
</body>
</html>